$fz: 18px;
$font-color: #FFF;
$bg-color: #161926;
$blue-highlight: #689FF2;
$green-button: #53F3CD;
$line-spring: #85BBB1;
$tablet-gray: #515773;
$border-gray: #e5e5e52f;

$width_content: 1187px;
$adaptive_width_content: calc($width_content / 2);