@import 'normalize';
@import 'vars';
@import 'fonts';
@import 'mixins';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html,
body {
    min-height: 100vh;
    color: $font-color;
    font-size: $fz;
    font-family: 'Lato', sans-serif;
}

.body {
    background: url('../assets/imgs/bg.png') $bg-color;
    padding-top: 30px;
    background-repeat: no-repeat;
    background-size: 100%;

    @media screen and (max-width:1200px) {
        background: url('../assets/imgs/bg-tablet.png') $bg-color;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    @media screen and (max-width:768px) {
        background: url('../assets/imgs/bg-phone.png') $bg-color;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

.header,
.main,
.footer {
    padding: 0 calc(50vw - $adaptive_width_content);

    @media screen and (max-width: 1200px) {
        padding: 0 22px;
    }

    @media screen and (max-width: 768px) {
        padding: 0 15px;
    }
}


// **************HEADER***************//
.header {
    @include flex(row, space-between, center);
    position: relative;
    z-index: 1;

    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 11vw;

    background: linear-gradient(270deg, rgba(22, 25, 38, 0.5) 0%, rgba(22, 25, 38, 0) 24.1%, rgba(22, 25, 38, 0) 47.19%), rgba(22, 25, 38, 0.02);
    backdrop-filter: blur(4.5px);
}

.logo {
    @include flex(row, flex-start, center);
}

.nav {

    @include flex(row, flex-start, center);

    &__list {
        @include flex(row, flex-start, center);
        gap: 30px;

        @media screen and (max-width:768px) {
            display: none;
            gap: 0;

            position: absolute;
            width: 100%;
            background-color: $bg-color;
            bottom: -251px;
            right: 0;

            .nav__element {
                @include flex(row, center, center);
                //height is fixed fot accessability reasons
                position: relative;
                height: 42px;
                text-align: center;
                width: 100%;
                border-bottom: 1px solid #FFF;
            }
        }
    }

    &__link {
        @include flex(row, center, center);
        position: relative;
        font-size: 0.75rem;
        line-height: 1.7;
        letter-spacing: 0.08em;

        &:hover {
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                bottom: -8px;
                left: 0;
                opacity: 0.3;
                background: linear-gradient(96.73deg, #53F3CD 6.73%, rgba(83, 243, 205, 0) 116.9%);
            }
        }

        @media screen and (max-width: 768px) {
            width: 100%;
            height: 100%;
            padding-left: 10px;

            &:hover {
                background-color: #53f3ce28;

                &::after {
                    height: 0;
                }
            }
        }
    }

    .burger {
        position: relative;
        display: none;
        width: 42px;
        height: 42px;


        &__input {
            opacity: 0;
        }

        &__icon {
            @include flex(column, space-between, center);
            position: absolute;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

        &__line {
            width: 100%;
            height: 3px;
            background-color: #FFF;
            // box-shadow: 1px 1px 1px 1px #53f3ce4d;
            transition: all 0.3s ease-in-out;
        }

        &:has(.burger__input:checked) {
            &~.nav__list {
                @media screen and (max-width:768px) {
                    //mediaquery added here to prevent dropdown menu styles to stay after the screen expands
                    @include flex(column, space-between, center);
                }
            }

            .burger__line {
                &_top {
                    transform: translateY(18px) rotate(45deg);
                }

                &_mid {
                    transform: translateX(-200px);
                    opacity: 0;
                }

                &_bot {
                    transform: translateY(-21px) rotate(135deg);
                }
            }
        }

        @media screen and (max-width:768px) {
            display: inline-block;
        }
    }
}

// ************MAIN********************//
.btn {
    border: none;
    background-color: transparent;

    position: relative;
    z-index: 0;

    color: $green-button;
    font-weight: 700;
    font-size: 1.125rem;
    letter-spacing: 0.08em;
    line-height: 1.1125;
    text-transform: uppercase;
    cursor: pointer;


    &__bg {
        position: absolute;
        bottom: 0;
        left: 7%;

        transition: all 0.3s ease-in-out;

        width: 100%;
        height: calc(1em - 9px);
        background-color: $green-button;
        opacity: 0.3;
    }

    &:hover {
        color: lighten($green-button, 20%);

        .btn__bg {
            transform: translate(-7%, -50%) scaleY(2.5) scaleX(1.1);
        }
    }

    @media screen and (max-width:1200px) {
        font-size: 1rem;
    }

    @media screen and (max-width:768px) {
        font-size: 0.9rem;
    }
}

.highligth {
    font-family: 'Playfair Display Italic', serif;
    color: $blue-highlight;
}

.text {
    font-family: 'Lato Light', "Lato", serif;
    font-weight: 300;
    line-height: 1.44;
    color: #ffffffcc;

    @media screen and (max-width:1200px) {
        font-size: 0.9rem;
    }

    @media screen and (max-width:768px) {
        font-size: 0.85rem;
        margin-bottom: 20px;
    }
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 2.44rem;
    font-weight: 400;
    line-height: 1.18;

    @media screen and (max-width:1200px) {
        font-size: 2rem;
    }

    @media screen and (max-width:768px) {
        font-size: 1.8rem;
    }

    &_big {
        font-size: 3.77rem;

        @media screen and (max-width:1200px) {
            font-size: 3.3rem;
        }

        @media screen and (max-width:768px) {
            font-size: 3rem;
        }
    }
}

.dollar {
    font-size: 0.6em;
}

.first-screen {
    max-width: 523px;
    width: 100%;
    margin-bottom: 195px;

    @media screen and (max-width:768px) {
        backdrop-filter: blur(4.5px);
        border-radius: 5px;
        padding-bottom: 10px;
    }

    @media screen and (max-width:1440px) {
        margin-bottom: 14vw;
    }
}

.article {


    &__title {
        margin: 0 0 2vh 0;
    }

    &__text {
        width: 85%;
        margin-bottom: 6vh;
    }
}

.info-card {
    @include flex(row, flex-end, flex-start);
    background: #161926e6;

    padding: 45px 0;
    max-width: 770px;
    width: 100%;
    margin-left: auto;
    margin-bottom: 165px;
    position: relative;

    &__list {
        @include flex(column, flex-start, center);
        max-width: 370px;
        width: 100%;
    }

    &__element {
        margin-bottom: 8vh;
        width: 100%;
        text-align: center;

        &:nth-child(1) {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: -40px;
                left: 35%;
                height: 2px;
                width: 100px;
                background-color: $line-spring;
            }

            @media screen and (max-width:768px) {
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -4vh;
                    left: 5%;
                    height: 2px;
                    width: 90%;
                    background-color: $line-spring;
                }
            }
        }

        &:nth-child(2) {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: -40px;
                left: 35%;
                height: 2px;
                width: 100px;
                background-color: $line-spring;
            }

            @media screen and (max-width:768px) {
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -4vh;
                    left: 5%;
                    height: 2px;
                    width: 90%;
                    background-color: $line-spring;
                }
            }
        }

        &:nth-child(3) {
            margin-bottom: 0;
        }
    }

    &__title {
        position: relative;
        margin-bottom: 12px;
    }

    &__desc {
        margin-bottom: 0;
    }

    &__content {
        max-width: 400px;
        width: 100%;
        margin-bottom: 50px;
    }

    &::before {
        content: url(../assets/imgs/statistic-image.png);
        position: absolute;
        z-index: -1;
        left: -400px;
        top: -35px
    }

    @media screen and (max-width:768px) {
        @include flex(column, flex-end, center);
        padding: 10px;
        gap: 25px;
        text-align: center;
        margin-bottom: 50px;
    }

    @media screen and (max-width:880px) {
        margin-bottom: 100px;

        &::before {
            content: '';
        }
    }
}

.benefits {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(2, min-max(250px, 1fr));
    gap: 60px 30px;
    margin-bottom: 5vh;

    @media screen and (max-width:520px) {
        grid-template-columns: 1fr;
        gap: 0;
    }

    @media screen and (max-width:904px) {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: repeat(2, min-max(250px, 1fr));
        gap: 15px 60px;
    }

    .article {
        padding: 50px 30px 0;
        border-top: 1px solid #e5e5e52f;

        @media screen and (max-width:520px) {
            padding-top: 10px;
        }

        @media screen and (max-width:904px) {
            padding: 25px 15px 0;

            .article__text {
                margin-bottom: 15px;
            }
        }
    }
}

.banner {
    width: 100%;
    padding: 100px 0 100px 160px;
    background: url(../assets/imgs/banner-bg.png) no-repeat;
    background-size: cover;

    &__quoute {
        max-width: 710px;
        width: 100%;

        font-size: 1.75rem;
        line-height: 1.43;
        font-weight: 400;
        letter-spacing: 0.04em;

        margin-bottom: 40px;

        position: relative;

        &:after {
            content: url(../assets/imgs/svg/quotes.svg);
            position: absolute;
            top: -35px;
            left: -60px;
        }
    }

    &__member {
        font-family: 'Playfair Display Italic', serif;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.08em;
    }

    @media screen and (max-width:1200px) {
        padding-left: 100px;
        padding-right: 50px;
    }

    @media screen and (max-width:756px) {
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 50px;

        &__quoute {
            &:after {
                content: url(../assets/imgs/svg/quotes.svg);
                position: absolute;
                top: -60px;
                left: -15px;
            }
        }
    }
}